# Web Scrapping

In [1]:
!pip install bs4
!pip install requests
!pip install pandas
!pip install openpyxl
!pip install xlrd

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: xlrd in c:\users\hp\anaconda3\lib\site-packages (2.0.1)

In [2]:
import numpy as np

Write a python program to display all the header tags from wikipedia.org.

In [3]:
from urllib.request import urlopen

In [4]:
from bs4 import BeautifulSoup

In [5]:
html = urlopen("https://en.wikipedia.org/wiki/Main_Page")

In [6]:
bs = BeautifulSoup(html, "html.parser")

In [7]:
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])

#print('List all the header tags :', *titles, sep='\n\n')

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [9]:
url = "https://www.imdb.com/chart/top/"

In [10]:
response = requests.get(url)
response

In [11]:
soup = BeautifulSoup(response.content, "html.parser")
#print(soup.prettify())

In [12]:
scrapped_movies = soup.find_all("td", class_="titleColumn")
#movies

In [13]:
movies = []
for movie in scrapped_movies:
    movie = movie.get_text().replace("\n","")
    movie = movie.strip(" ")
    movie = movie.split(".")[1].split("(")[0]
    movies.append(movie)
#movies

In [14]:
release_year=soup.find_all('span',class_='secondaryInfo')
#release_year

In [15]:
years =[]
for year in release_year:
    year = year.get_text().replace("\n", "").replace('(', "").replace(')', "")
    year = year.strip(" ")
    years.append(year)
#years

In [16]:
scrap_ratings = soup.find_all('td', class_="ratingColumn imdbRating")
#scrap_ratings

In [17]:
ratings = []

for rate in scrap_ratings:
    rate = rate.get_text().replace("\n", "")
    rate = rate.strip(" ")
    ratings.append(rate)
#ratings

In [18]:
#store scrapped data
data = pd.DataFrame()
data['Movie Names'] = movies
data['Ratings'] = ratings
data["Release Year"] = years
#data.head(100)

In [19]:
data.to_excel("IMDB top movies.xlsx", index=False)

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [21]:
url = "https://www.imdb.com/india/top-rated-indian-movies/"

In [22]:
response = requests.get(url)
#response

In [23]:
soup = BeautifulSoup(response.content, "html.parser")
#print(soup.prettify())

In [24]:
scrapped_movies = soup.find_all("td", class_="titleColumn")
#movies

In [25]:
movies = []
for movie in scrapped_movies:
    movie = movie.get_text().replace("\n","")
    movie = movie.strip(" ")
    movie = movie.split(".")[1].split("(")[0]
    movies.append(movie)
#movies

In [26]:
release_year=soup.find_all('span',class_='secondaryInfo')
#release_year

In [27]:
years =[]
for year in release_year:
    year = year.get_text().replace("\n", "").replace('(', "").replace(')', "")
    year = year.strip(" ")
    years.append(year)
#years

In [28]:
scrap_ratings = soup.find_all('td', class_="ratingColumn imdbRating")
#scrap_ratings

In [29]:
ratings = []

for rate in scrap_ratings:
    rate = rate.get_text().replace("\n", "")
    rate = rate.strip(" ")
    ratings.append(rate)
#ratings

In [30]:
#store scrapped data
data = pd.DataFrame()
data['Movie Names'] = movies
data['Ratings'] = ratings
data["Release Year"] = years
#data.head(100)

In [31]:
data.to_excel("IMDB top movies.xlsx", index=False)

Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [32]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [33]:
url = "https://presidentofindia.nic.in/former-presidents.htm"

In [34]:
response = requests.get(url)
#response

In [35]:
soup = BeautifulSoup(response.content, "html.parser")
#print(soup.prettify())

In [36]:
former_president = soup.find_all("div", class_="presidentListing")
#former_president

In [37]:
presidents = []
for president in soup.find_all("h3"):
    president = president.text.split("(")[0]
    presidents.append(president)
#presidents

In [38]:
terms_office = soup.find_all("span","terms")
terms_offices = []
for term in terms_office:
    term = term.parent.text.split(":")[1]
    terms_offices.append(term)
#terms_offices

In [39]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['Former Presidents'] = presidents
data['Term of Office'] = terms_offices
data = data.set_index(np.arange(1,len(data)+1))
#data.head(14)

Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [40]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [41]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [42]:
page = requests.get(url)
#page

In [43]:
soup = BeautifulSoup(page.content, "html.parser")
#print(soup.prettify())

In [44]:
odi_team = soup.find_all("span", class_="u-hide-phablet")
#odi_team

In [45]:
teams = []
for team in odi_team:
    team = team.text
    teams.append(team)
#teams

In [46]:
odi_matches = soup.find_all("td",class_="rankings-block__banner--matches") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_matches

In [47]:
matches = []
count=0
for match in odi_matches:
    if(count==0):
        match = match.text
        matches.append(match)
    elif(count%2!=0):
        match = match.text
        matches.append(match)
    count+=1
#matches

In [48]:
odi_points = soup.find_all("td", class_="rankings-block__banner--points") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_points

In [49]:
points = []
count = 0
for point in odi_points:
    if (count==0):
        point = point.text
        points.append(point)
    elif (count%2==0):
        point = point.text
        points.append(point)
    count+=1
#points

In [50]:
odi_ratings = soup.find_all("td", class_="rankings-block__banner--rating u-text-right")+ soup.find_all("td", class_="table-body__cell u-text-right rating")
#odi_ratings

In [51]:
ratings = []
for rating in odi_ratings:
    rating = rating.text.strip("\n").strip(" ").strip("\n")
    ratings.append(rating)
#ratings

In [52]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['TEAM'] = teams
data['MATCHES'] = matches
data['POINTS'] = points
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
#data.head()

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [53]:
url_player = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [54]:
player_page = requests.get(url_player)
#page

In [55]:
soup = BeautifulSoup(player_page.content, "html.parser")
#print(soup.prettify())

In [56]:
first_playerx = soup.find("div", class_="rankings-block__banner--name").text
odi_players = soup.find_all("td",class_="table-body__cell name")
# odi_players

In [57]:
top_player = [first_playerx]
for player in odi_players:
    player = player.a.text
    top_player.append(player)
# top_player

In [58]:
first_team = soup.find("div", class_="rankings-block__banner--nationality").text.strip("\n").split("\n")[0]
top_team = soup.find_all("span",class_='table-body__logo-text')
#first_team
# top_team

In [59]:
teams = [first_team]
for team in top_team:
    team = team.text
    teams.append(team)
# teams.pop()
#teams

In [60]:
first_ratings = soup.find("div", class_="rankings-block__banner--rating").text
top_ratings = soup.find_all("td", class_="table-body__cell u-text-right rating")
#top_ratings
#first_ratings

In [61]:
ratings = [first_ratings]
for rating in top_ratings:
    rating = rating.text
    ratings.append(rating)
# ratings.pop()

In [62]:
len(top_player)
len(teams)
len(top_ratings)

54

In [63]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['Player'] = top_player
data['Team'] = teams
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
data_batsman = data.head(10)
# data_batsman
data_bowlers = data.iloc[10:20]
data_bowlers=data_bowlers.set_index(np.arange(1,len(data_bowlers)+1))

In [64]:
data_bowlers

              Player Team RATING
1     Josh Hazlewood  AUS    718
2   Mujeeb Ur Rahman  AFG    676
3     Jasprit Bumrah  IND    662
4     Shaheen Afridi  PAK    661
5      Mohammad Nabi  AFG    657
6       Mehedi Hasan  BAN    655
7         Matt Henry   NZ    654
8     Mitchell Starc  AUS    653
9        Rashid Khan  AFG    651
10     Mohammad Nabi  AFG    325

Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [125]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [126]:
page = requests.get(url)
#page
soup = BeautifulSoup(page.content, "html.parser")
#print(soup.prettify())
odi_team = soup.find_all("span", class_="u-hide-phablet")
#odi_team

In [127]:
teams = []
for team in odi_team:
    team = team.text
    teams.append(team)
#teams

In [128]:
odi_matches = soup.find_all("td",class_="rankings-block__banner--matches") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_matches

In [129]:
matches = []
count=0
for match in odi_matches:
    if(count==0):
        match = match.text
        matches.append(match)
    elif(count%2!=0):
        match = match.text
        matches.append(match)
    count+=1
#matches

In [130]:
odi_points = soup.find_all("td", class_="rankings-block__banner--points") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_points

In [131]:
points = []
count = 0
for point in odi_points:
    if (count==0):
        point = point.text
        points.append(point)
    elif (count%2==0):
        point = point.text
        points.append(point)
    count+=1
#points

In [132]:
odi_ratings = soup.find_all("td", class_="rankings-block__banner--rating u-text-right")+ soup.find_all("td", class_="table-body__cell u-text-right rating")
#odi_ratings

In [133]:
ratings = []
for rating in odi_ratings:
    rating = rating.text.strip("\n").strip(" ").strip("\n")
    ratings.append(rating)
#ratings

In [135]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['TEAM'] = teams
data['MATCHES'] = matches
data['POINTS'] = points
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
data.head()

           TEAM MATCHES POINTS RATING
1     Australia      29  4,837    167
2  South Africa      35  4,157    119
3       England      36  4,205    117
4         India      35  3,732    107
5   New Zealand      33  3,302    100

In [138]:
url_player = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [139]:
player_page = requests.get(url_player)
#page

In [140]:
soup = BeautifulSoup(player_page.content, "html.parser")
#print(soup.prettify())

In [141]:
first_playerx = soup.find("div", class_="rankings-block__banner--name").text
odi_players = soup.find_all("td",class_="table-body__cell name")
# odi_players

In [142]:
top_player = [first_playerx]
for player in odi_players:
    player = player.a.text
    top_player.append(player)
# top_player

In [143]:
first_team = soup.find("div", class_="rankings-block__banner--nationality").text.strip("\n").split("\n")[0]
top_team = soup.find_all("span",class_='table-body__logo-text')
#first_team
# top_team

In [144]:
teams = [first_team]
for team in top_team:
    team = team.text
    teams.append(team)
# teams.pop()
#teams

In [146]:
first_ratings = soup.find("div", class_="rankings-block__banner--rating").text
top_ratings = soup.find_all("td", class_="table-body__cell u-text-right rating")
#top_ratings
#first_ratings

In [148]:
ratings = [first_ratings]
for rating in top_ratings:
    rating = rating.text
    ratings.append(rating)
# ratings.pop()

In [164]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['Player'] = top_player
data['Team'] = teams
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
data_batsman = data.head(10)
# data_batsman
data_allrounders = data.iloc[19:28]
data_allrounders=data_allrounders.set_index(np.arange(1,len(data_allrounders)+1))

In [167]:
# data_allrounders

In [168]:
# data_batsman

Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
        
i) Headline

ii) Time

iii) News Link

In [65]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [66]:
url = "https://www.cnbc.com/world/?region=world"

In [67]:
r = requests.get(url)
#r

In [68]:
soup = BeautifulSoup(r.content, "html.parser")
# print(soup.prettify())

In [69]:
container = soup.find_all("div",class_="LatestNews-headlineWrapper")

In [70]:
headlines = []
times = []
links = []
for content in container:
    head = content.a.text
    headlines.append(head)
    time = content.span.text
    times.append(time)
    link = content.a['href']
    links.append(link)
    #print(content.prettify())

In [71]:
#links

In [72]:
df = pd.DataFrame()
df["Headlines"] = headlines
df["Time"] = times
df["News Link"] = links
df = df[df["Headlines"]!=""]
df = df.set_index(np.arange(1,len(df)+1))

In [73]:
# df = df[df["Headlines"]!=""]

In [74]:
# df
df = df.head(10)
#df

In [75]:
df.to_excel("News Data.xlsx")

Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
    
Scrape below mentioned details :
    
i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [76]:
from urllib.request import Request, urlopen

In [77]:
link = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [78]:
r = requests.get(link)

In [79]:
soup_ai = BeautifulSoup(r.content,"html.parser")
# print(soup_ai.prettify())

In [80]:
downloads_ai = soup_ai.find_all("h2", class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
downloads_ai
heads_ai=[]
for i in downloads_ai:
    i = i.text
    heads_ai.append(i)
#heads_ai

In [81]:
link_ai=[]
for i in downloads_ai:
    i = i.parent['href']
    link_ai.append(i)
#link_ai

In [82]:
name_ai = soup_ai.find_all("span", class_="sc-1w3fpd7-0 pgLAT")
name_ai
authors = []
for author in name_ai:
    author= author.text
    authors.append(author)
#authors

In [83]:
date_ai = soup_ai.find_all("span", class_="sc-1thf9ly-2 bKddwo")
date_ai
release_date = []
for date in date_ai:
    date = date.text
    release_date.append(date)
#release_date

In [84]:
df= pd.DataFrame()
df['Paper Title'] = heads_ai
df['Authors'] = authors
df['Published Date'] = release_date
df['Paper URL'] = link_ai
#df

In [85]:
df.to_excel("downloaded articles from AI in last 90 days.xlsx")

Write a python program to scrape mentioned details from dineout.co.in :
    
i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [86]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [87]:
url = "https://www.dineout.co.in/pune-restaurants/welcome-back"

In [88]:
data = requests.get(url)
#data

In [89]:
soup = BeautifulSoup(data.content,"html.parser")
#print(soup.prettify())

In [90]:
restaurant_name = soup.find_all("a", class_="restnt-name ellipsis")
restaurant_name
restaurants = []
for restaurant in restaurant_name:
    restaurant = restaurant.text
    restaurants.append(restaurant)
#restaurants
len(restaurants)

21

In [91]:
cuisine_hotels = soup.find_all("span", class_="double-line-ellipsis")
#cuisine_hotels

In [92]:
cuisines = []
for cuisine in cuisine_hotels:
    cuisine = cuisine.text.split("|")[1]
    cuisines.append(cuisine)
#cuisines
len(cuisines)

21

In [93]:
location_hotels = soup.find_all("div", class_="restnt-loc ellipsis")
location_hotels
locations = []
for location in location_hotels:
    location = location.text
    locations.append(location)
#locations
len(locations)

21

In [94]:
rating_hotels = soup.find_all("img", class_="no-img")
rating_hotels
ratings = []
for rating in rating_hotels:
    rating = rating.parent.next_sibling.text
    ratings.append(rating)
#ratings
# len(ratings)

In [95]:
image_url = soup.find_all("img", class_="no-img")
image_url
images = []
for image in image_url:
    image = image["data-src"]
    images.append(image)
#images
# len(images)

In [96]:
df = pd.DataFrame()
df['Restaurant name'] = restaurants
df['Cuisine'] = cuisines
df['Location'] = locations
df['Ratings'] = ratings
df['Image URL'] = images
df = df.set_index(np.arange(1,len(df)+1))
#df

In [97]:
df.to_excel("details from dineout.xlsx")

Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
    
i) Rank

ii) Publication

iii) h5-index

iv) h5-median

In [98]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [99]:
url_pub = "https://scholar.google.com/citations?view_op=top_venues&hl=en"

In [100]:
page = requests.get(url_pub)
#page

In [101]:
soup_pub = BeautifulSoup(page.content,"html.parser")
#print(soup.prettify())

In [103]:
ranking = soup_pub.find_all("td", class_="gsc_mvt_p")
ranking
ranks=[]
for rank in ranking:
    rank = rank.text
    ranks.append(rank)
#ranks

In [105]:
publications = soup_pub.find_all("td", class_="gsc_mvt_t")
publications
publication = []
for pub in publications:
    pub = pub.text
    publication.append(pub)
#publication

In [107]:
h5_index = soup_pub.find_all("a", class_="gs_ibl gsc_mp_anchor")
h5_index
h5 = []
for h in h5_index:
    h = h.text
    h5.append(h)
#h5

In [109]:
h5_median = soup_pub.find_all("span", class_="gs_ibl gsc_mp_anchor")
h5_median
median = []
for m in h5_median:
    m = m.text
    median.append(m)
#median

In [111]:
df = pd.DataFrame()
df["Rank"] = ranks
df["Publication"] = publication
df["h5-index"] = h5
df["h5-median"] = median
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

In [112]:
df.to_excel("top publications from Google Scholar.xlsx")