# Web Scrapping

In [1]:
!pip install bs4
!pip install requests
!pip install pandas
!pip install openpyxl
!pip install xlrd

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: xlrd in c:\users\hp\anaconda3\lib\site-packages (2.0.1)

In [2]:
import numpy as np

Write a python program to display all the header tags from wikipedia.org.

In [3]:
from urllib.request import urlopen

In [4]:
from bs4 import BeautifulSoup

In [5]:
html = urlopen("https://en.wikipedia.org/wiki/Main_Page")

In [6]:
bs = BeautifulSoup(html, "html.parser")

In [7]:
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])

print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [9]:
url = "https://www.imdb.com/chart/top/"

In [10]:
response = requests.get(url)
response

In [11]:
soup = BeautifulSoup(response.content, "html.parser")
#print(soup.prettify())

In [12]:
scrapped_movies = soup.find_all("td", class_="titleColumn")
#movies

In [13]:
movies = []
for movie in scrapped_movies:
    movie = movie.get_text().replace("\n","")
    movie = movie.strip(" ")
    movie = movie.split(".")[1].split("(")[0]
    movies.append(movie)
#movies

In [14]:
release_year=soup.find_all('span',class_='secondaryInfo')
#release_year

In [15]:
years =[]
for year in release_year:
    year = year.get_text().replace("\n", "").replace('(', "").replace(')', "")
    year = year.strip(" ")
    years.append(year)
#years

In [16]:
scrap_ratings = soup.find_all('td', class_="ratingColumn imdbRating")
#scrap_ratings

In [17]:
ratings = []

for rate in scrap_ratings:
    rate = rate.get_text().replace("\n", "")
    rate = rate.strip(" ")
    ratings.append(rate)
#ratings

In [18]:
#store scrapped data
data = pd.DataFrame()
data['Movie Names'] = movies
data['Ratings'] = ratings
data["Release Year"] = years
data.head(100)

                                Movie Names Ratings Release Year
0                  The Shawshank Redemption     9.2         1994
1                             The Godfather     9.2         1972
2                           The Dark Knight     9.0         2008
3                     The Godfather Part II     9.0         1974
4                              12 Angry Men     8.9         1957
..                                      ...     ...          ...
95                             Citizen Kane     8.3         1941
96        M - Eine Stadt sucht einen Mörder     8.3         1931
97                       North by Northwest     8.3         1959
98                             Idi i smotri     8.2         1985
99                                  Vertigo     8.2         1958

[100 rows x 3 columns]

In [19]:
data.to_excel("IMDB top movies.xlsx", index=False)

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [21]:
url = "https://www.imdb.com/india/top-rated-indian-movies/"

In [22]:
response = requests.get(url)
#response

In [23]:
soup = BeautifulSoup(response.content, "html.parser")
#print(soup.prettify())

In [24]:
scrapped_movies = soup.find_all("td", class_="titleColumn")
#movies

In [25]:
movies = []
for movie in scrapped_movies:
    movie = movie.get_text().replace("\n","")
    movie = movie.strip(" ")
    movie = movie.split(".")[1].split("(")[0]
    movies.append(movie)
#movies

In [26]:
release_year=soup.find_all('span',class_='secondaryInfo')
#release_year

In [27]:
years =[]
for year in release_year:
    year = year.get_text().replace("\n", "").replace('(', "").replace(')', "")
    year = year.strip(" ")
    years.append(year)
#years

In [28]:
scrap_ratings = soup.find_all('td', class_="ratingColumn imdbRating")
#scrap_ratings

In [29]:
ratings = []

for rate in scrap_ratings:
    rate = rate.get_text().replace("\n", "")
    rate = rate.strip(" ")
    ratings.append(rate)
#ratings

In [30]:
#store scrapped data
data = pd.DataFrame()
data['Movie Names'] = movies
data['Ratings'] = ratings
data["Release Year"] = years
data.head(100)

                          Movie Names Ratings Release Year
0          Rocketry: The Nambi Effect     8.5         2022
1                          Anbe Sivam     8.4         2003
2                            Jai Bhim     8.4         2021
3                             Nayakan     8.4         1987
4                             Golmaal     8.4         1979
..                                ...     ...          ...
95                        Ustad Hotel     8.0         2012
96         The Legend of Bhagat Singh     8.0         2002
97                          Virumandi     8.0         2004
98        Baahubali 2: The Conclusion     8.0         2017
99                             Angoor     8.0         1982

[100 rows x 3 columns]

In [31]:
data.to_excel("IMDB top movies.xlsx", index=False)

Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [32]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [33]:
url = "https://presidentofindia.nic.in/former-presidents.htm"

In [34]:
response = requests.get(url)
#response

In [35]:
soup = BeautifulSoup(response.content, "html.parser")
#print(soup.prettify())

In [36]:
former_president = soup.find_all("div", class_="presidentListing")
#former_president

In [37]:
presidents = []
for president in soup.find_all("h3"):
    president = president.text.split("(")[0]
    presidents.append(president)
#presidents

In [38]:
terms_office = soup.find_all("span","terms")
terms_offices = []
for term in terms_office:
    term = term.parent.text.split(":")[1]
    terms_offices.append(term)
#terms_offices

In [39]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['Former Presidents'] = presidents
data['Term of Office'] = terms_offices
data = data.set_index(np.arange(1,len(data)+1))
data.head(14)

,Former Presidents,Term of Office
1,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
2,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
3,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
4,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
5,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
6,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
7,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
8,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
9,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
10,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
11,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
12,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
13,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
14,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [40]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [41]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [42]:
page = requests.get(url)
#page

In [43]:
soup = BeautifulSoup(page.content, "html.parser")
#print(soup.prettify())

In [44]:
odi_team = soup.find_all("span", class_="u-hide-phablet")
#odi_team

In [45]:
teams = []
for team in odi_team:
    team = team.text
    teams.append(team)
#teams

In [46]:
odi_matches = soup.find_all("td",class_="rankings-block__banner--matches") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_matches

In [47]:
matches = []
count=0
for match in odi_matches:
    if(count==0):
        match = match.text
        matches.append(match)
    elif(count%2!=0):
        match = match.text
        matches.append(match)
    count+=1
#matches

In [48]:
odi_points = soup.find_all("td", class_="rankings-block__banner--points") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_points

In [49]:
points = []
count = 0
for point in odi_points:
    if (count==0):
        point = point.text
        points.append(point)
    elif (count%2==0):
        point = point.text
        points.append(point)
    count+=1
#points

In [50]:
odi_ratings = soup.find_all("td", class_="rankings-block__banner--rating u-text-right")+ soup.find_all("td", class_="table-body__cell u-text-right rating")
#odi_ratings

In [51]:
ratings = []
for rating in odi_ratings:
    rating = rating.text.strip("\n").strip(" ").strip("\n")
    ratings.append(rating)
#ratings

In [52]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['TEAM'] = teams
data['MATCHES'] = matches
data['POINTS'] = points
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
data.head()

          TEAM MATCHES POINTS RATING
1      England      27  3,226    119
2  New Zealand      22  2,508    114
3        India      31  3,447    111
4     Pakistan      22  2,354    107
5    Australia      29  3,071    106

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [53]:
url_player = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [54]:
player_page = requests.get(url_player)
#page

In [55]:
soup = BeautifulSoup(player_page.content, "html.parser")
#print(soup.prettify())

In [56]:
first_playerx = soup.find("div", class_="rankings-block__banner--name").text
odi_players = soup.find_all("td",class_="table-body__cell name")
# odi_players

In [57]:
top_player = [first_playerx]
for player in odi_players:
    player = player.a.text
    top_player.append(player)
# top_player

In [58]:
first_team = soup.find("div", class_="rankings-block__banner--nationality").text.strip("\n").split("\n")[0]
top_team = soup.find_all("span",class_='table-body__logo-text')
#first_team
# top_team

In [59]:
teams = [first_team]
for team in top_team:
    team = team.text
    teams.append(team)
# teams.pop()
#teams

In [60]:
first_ratings = soup.find("div", class_="rankings-block__banner--rating").text
top_ratings = soup.find_all("td", class_="table-body__cell u-text-right rating")
#top_ratings
#first_ratings

In [61]:
ratings = [first_ratings]
for rating in top_ratings:
    rating = rating.text
    ratings.append(rating)
# ratings.pop()

In [62]:
len(top_player)
len(teams)
len(top_ratings)

54

In [63]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['Player'] = top_player
data['Team'] = teams
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
data_batsman = data.head(10)
# data_batsman
data_bowlers = data.iloc[10:20]
data_bowlers=data_bowlers.set_index(np.arange(1,len(data_bowlers)+1))

In [64]:
data_batsman

                   Player Team RATING
1              Babar Azam  PAK    890
2   Rassie van der Dussen   SA    789
3         Quinton de Kock   SA    784
4             Imam-ul-Haq  PAK    779
5             Virat Kohli  IND    744
6            Rohit Sharma  IND    740
7          Jonny Bairstow  ENG    732
8            David Warner  AUS    725
9             Ross Taylor   NZ    701
10            Steve Smith  AUS    697

In [65]:
data_bowlers

              Player Team RATING
1     Josh Hazlewood  AUS    718
2   Mujeeb Ur Rahman  AFG    676
3     Jasprit Bumrah  IND    662
4     Shaheen Afridi  PAK    661
5      Mohammad Nabi  AFG    657
6       Mehedi Hasan  BAN    655
7         Matt Henry   NZ    654
8     Mitchell Starc  AUS    653
9        Rashid Khan  AFG    651
10     Mohammad Nabi  AFG    325

Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [66]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [67]:
page = requests.get(url)
#page
soup = BeautifulSoup(page.content, "html.parser")
#print(soup.prettify())
odi_team = soup.find_all("span", class_="u-hide-phablet")
#odi_team

In [68]:
teams = []
for team in odi_team:
    team = team.text
    teams.append(team)
#teams

In [69]:
odi_matches = soup.find_all("td",class_="rankings-block__banner--matches") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_matches

In [70]:
matches = []
count=0
for match in odi_matches:
    if(count==0):
        match = match.text
        matches.append(match)
    elif(count%2!=0):
        match = match.text
        matches.append(match)
    count+=1
#matches

In [71]:
odi_points = soup.find_all("td", class_="rankings-block__banner--points") + soup.find_all("td", class_="table-body__cell u-center-text")
#odi_points

In [72]:
points = []
count = 0
for point in odi_points:
    if (count==0):
        point = point.text
        points.append(point)
    elif (count%2==0):
        point = point.text
        points.append(point)
    count+=1
#points

In [73]:
odi_ratings = soup.find_all("td", class_="rankings-block__banner--rating u-text-right")+ soup.find_all("td", class_="table-body__cell u-text-right rating")
#odi_ratings

In [74]:
ratings = []
for rating in odi_ratings:
    rating = rating.text.strip("\n").strip(" ").strip("\n")
    ratings.append(rating)
#ratings

In [75]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['TEAM'] = teams
data['MATCHES'] = matches
data['POINTS'] = points
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
data.head(10)

            TEAM MATCHES POINTS RATING
1      Australia      29  4,837    167
2   South Africa      35  4,157    119
3        England      36  4,205    117
4          India      35  3,732    107
5    New Zealand      33  3,302    100
6    West Indies      32  2,864     90
7     Bangladesh      12    930     78
8       Pakistan      30  1,962     65
9        Ireland      11    516     47
10     Sri Lanka      11    495     45

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [76]:
url_player = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [77]:
player_page = requests.get(url_player)
#page

In [78]:
soup = BeautifulSoup(player_page.content, "html.parser")
#print(soup.prettify())

In [79]:
first_playerx = soup.find("div", class_="rankings-block__banner--name").text
odi_players = soup.find_all("td",class_="table-body__cell name")
# odi_players

In [80]:
top_player = [first_playerx]
for player in odi_players:
    player = player.a.text
    top_player.append(player)
# top_player

In [81]:
first_team = soup.find("div", class_="rankings-block__banner--nationality").text.strip("\n").split("\n")[0]
top_team = soup.find_all("span",class_='table-body__logo-text')
#first_team
# top_team

In [82]:
teams = [first_team]
for team in top_team:
    team = team.text
    teams.append(team)
# teams.pop()
#teams

In [83]:
first_ratings = soup.find("div", class_="rankings-block__banner--rating").text
top_ratings = soup.find_all("td", class_="table-body__cell u-text-right rating")
#top_ratings
#first_ratings

In [84]:
ratings = [first_ratings]
for rating in top_ratings:
    rating = rating.text
    ratings.append(rating)
# ratings.pop()

In [85]:
#store scrapped data
import numpy as np
data = pd.DataFrame()
data['Player'] = top_player
data['Team'] = teams
data['RATING'] = ratings
data = data.set_index(np.arange(1,len(data)+1))
data_batsman = data.head(10)
# data_batsman
data_allrounders = data.iloc[19:28]
data_allrounders=data_allrounders.set_index(np.arange(1,len(data_allrounders)+1))

In [86]:
data_allrounders

              Player Team RATING
1     Natalie Sciver  ENG    372
2     Marizanne Kapp   SA    349
3    Hayley Matthews   WI    339
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    271
6   Ashleigh Gardner  AUS    270
7      Jess Jonassen  AUS    246
8     Jhulan Goswami  IND    219
9  Sophie Ecclestone  ENG    217

In [87]:
data_batsman

                 Player Team RATING
1          Alyssa Healy  AUS    785
2           Beth Mooney  AUS    749
3        Natalie Sciver  ENG    740
4       Laura Wolvaardt   SA    732
5           Meg Lanning  AUS    710
6        Rachael Haynes  AUS    701
7       Smriti Mandhana  IND    698
8     Amy Satterthwaite   NZ    681
9      Harmanpreet Kaur  IND    662
10  Chamari Athapaththu   SL    655

Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
        
i) Headline

ii) Time

iii) News Link

In [88]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [89]:
url = "https://www.cnbc.com/world/?region=world"

In [90]:
r = requests.get(url)
#r

In [91]:
soup = BeautifulSoup(r.content, "html.parser")
# print(soup.prettify())

In [92]:
container = soup.find_all("div",class_="LatestNews-headlineWrapper")

In [93]:
headlines = []
times = []
links = []
for content in container:
    head = content.a.text
    headlines.append(head)
    time = content.span.text
    times.append(time)
    link = content.a['href']
    links.append(link)
    #print(content.prettify())

In [94]:
#links

In [95]:
df = pd.DataFrame()
df["Headlines"] = headlines
df["Time"] = times
df["News Link"] = links
df = df[df["Headlines"]!=""]
df = df.set_index(np.arange(1,len(df)+1))

In [96]:
# df = df[df["Headlines"]!=""]

In [97]:
# df
df = df.head(10)
df

,Headlines,Time,News Link
1,New minimum tax could hit Berkshire Hathaway a...,1 Hour Ago,https://www.cnbc.com/2022/09/25/new-minimum-ta...
2,Atlanta Fed President Bostic expects job losse...,2 Hours Ago,https://www.cnbc.com/2022/09/25/atlanta-fed-pr...
3,British Prime Minister to seek negotiated solu...,2 Hours Ago,https://www.cnbc.com/2022/09/25/british-prime-...
4,'The Woman King' shows why the box office need...,2 Hours Ago,https://www.cnbc.com/2022/09/25/the-woman-king...
5,Zelenskyy on Putin's threat of nuclear weapons...,3 Hours Ago,https://www.cnbc.com/2022/09/25/zelenskyy-on-p...
6,These are the top 10 best family-friendly U.S....,3 Hours Ago,https://www.cnbc.com/2022/09/25/opendoor-surve...
7,The 3 biggest signs of 'passive aggressive' an...,4 Hours Ago,https://www.cnbc.com/2022/09/25/the-3-biggest-...
8,"What Kroger, Walmart, Target learned from Chin...",4 Hours Ago,https://www.cnbc.com/2022/09/25/what-kroger-wa...
9,How this 31-year-old got fired and re-hired at...,5 Hours Ago,https://www.cnbc.com/2022/09/25/this-millennia...
10,These are the 6 best business books of the year,5 Hours Ago,https://www.cnbc.com/2022/09/25/the-6-best-bus...

In [98]:
df.to_excel("News Data.xlsx")

Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
    
Scrape below mentioned details :
    
i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [99]:
from urllib.request import Request, urlopen

In [100]:
link = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [101]:
r = requests.get(link)

In [102]:
soup_ai = BeautifulSoup(r.content,"html.parser")
# print(soup_ai.prettify())

In [103]:
downloads_ai = soup_ai.find_all("h2", class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
downloads_ai
heads_ai=[]
for i in downloads_ai:
    i = i.text
    heads_ai.append(i)
#heads_ai

In [104]:
link_ai=[]
for i in downloads_ai:
    i = i.parent['href']
    link_ai.append(i)
#link_ai

In [105]:
name_ai = soup_ai.find_all("span", class_="sc-1w3fpd7-0 pgLAT")
name_ai
authors = []
for author in name_ai:
    author= author.text
    authors.append(author)
#authors

In [106]:
date_ai = soup_ai.find_all("span", class_="sc-1thf9ly-2 bKddwo")
date_ai
release_date = []
for date in date_ai:
    date = date.text
    release_date.append(date)
#release_date

In [107]:
df= pd.DataFrame()
df['Paper Title'] = heads_ai
df['Authors'] = authors
df['Published Date'] = release_date
df['Paper URL'] = link_ai
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [108]:
df.to_excel("downloaded articles from AI in last 90 days.xlsx")

Write a python program to scrape mentioned details from dineout.co.in :
    
i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [109]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [110]:
url = "https://www.dineout.co.in/pune-restaurants/welcome-back"

In [111]:
data = requests.get(url)
#data

In [112]:
soup = BeautifulSoup(data.content,"html.parser")
#print(soup.prettify())

In [113]:
restaurant_name = soup.find_all("a", class_="restnt-name ellipsis")
restaurant_name
restaurants = []
for restaurant in restaurant_name:
    restaurant = restaurant.text
    restaurants.append(restaurant)
#restaurants
len(restaurants)

21

In [114]:
cuisine_hotels = soup.find_all("span", class_="double-line-ellipsis")
#cuisine_hotels

In [115]:
cuisines = []
for cuisine in cuisine_hotels:
    cuisine = cuisine.text.split("|")[1]
    cuisines.append(cuisine)
#cuisines
len(cuisines)

21

In [116]:
location_hotels = soup.find_all("div", class_="restnt-loc ellipsis")
location_hotels
locations = []
for location in location_hotels:
    location = location.text
    locations.append(location)
#locations
len(locations)

21

In [117]:
rating_hotels = soup.find_all("img", class_="no-img")
rating_hotels
ratings = []
for rating in rating_hotels:
    rating = rating.parent.next_sibling.text
    ratings.append(rating)
#ratings
# len(ratings)

In [118]:
image_url = soup.find_all("img", class_="no-img")
image_url
images = []
for image in image_url:
    image = image["data-src"]
    images.append(image)
#images
# len(images)

In [119]:
df = pd.DataFrame()
df['Restaurant name'] = restaurants
df['Cuisine'] = cuisines
df['Location'] = locations
df['Ratings'] = ratings
df['Image URL'] = images
df = df.set_index(np.arange(1,len(df)+1))
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
1,Agent Jack's Bar,"North Indian, Chinese, Continental","ICC Trade Tower,Senapati Bapat Road, West Pune",4,https://im1.dineout.co.in/images/uploads/resta...
2,SKYE at Eternia RoofTop,"North Indian, Italian, Chinese, Continental","ICC Trade Tower,Senapati Bapat Road, West Pune",4,https://im1.dineout.co.in/images/uploads/resta...
3,Spice Factory,"Finger Food, North Indian, Continental, Italian","White Square Building,Hinjewadi, West Pune",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,TTF - The Tenth Floor,"North Indian, Continental, Asian, Fast Food","Deron Heights,Baner, West Pune",3.8,https://im1.dineout.co.in/images/uploads/resta...
5,Dhaba Estd 1986 Delhi Pune,North Indian,"The Pavillion Mall,Shivaji Nagar, West Pune",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Mainland China,"Chinese, Tibetan, Asian, Thai","Pyramid Mall,Senapati Bapat Road, West Pune",4.4,https://im1.dineout.co.in/images/uploads/resta...
7,FC Road Social,"Chinese, North Indian, Italian, Fast Food","F.C. Road, West Pune",4.2,https://im1.dineout.co.in/images/uploads/resta...
8,TGI Friday's,"American, Mexican, Italian","The Pavillion Mall,Shivaji Nagar, West Pune",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Thikana,"North Indian, Chinese, Italian","F.C. Road, West Pune",4,https://im1.dineout.co.in/images/uploads/resta...
10,The Poppa Cafe,"Fast Food, Italian, Finger Food","Senapati Bapat Road, West Pune",4,https://im1.dineout.co.in/images/uploads/resta...
11,Cafe Delhi Heights,"Continental, North Indian, Beverages, Chinese...","The Pavillion Mall,Shivaji Nagar, West Pune",4.4,https://im1.dineout.co.in/images/uploads/resta...
12,Mad Over Donuts,Desserts,"The Pavillion Mall,Shivaji Nagar, West Pune",4.4,https://im1.dineout.co.in/images/uploads/resta...
13,Casablanca,"North Indian, Asian, Continental","The Pride Hotel,Shivaji Nagar, West Pune",4.1,https://im1.dineout.co.in/images/uploads/resta...
14,South And More,"South Indian, Street Food","Model Colony, West Pune",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,Aroma,"North Indian, Chinese, Beverages","The Ambience Hotel,Model Colony, West Pune",4.2,https://im1.dineout.co.in/images/uploads/resta...
16,Spice Kitchen,"Chinese, Continental, North Indian, Italian, ...","JW Marriott Hotel,Senapati Bapat Road, West Pune",4.4,https://im1.dineout.co.in/images/uploads/resta...
17,Paasha,"North Indian, Mughlai","JW Marriott Hotel,Senapati Bapat Road, West Pune",4.5,https://im1.dineout.co.in/images/uploads/resta...
18,Pune Baking Company,"Desserts, Beverages, American","JW Marriott Hotel,Senapati Bapat Road, West Pune",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Exotica,"North Indian, Chinese","Yerwada, East Pune",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Barbeque Nation,"North Indian, Chinese","R Deccan Mall,Deccan Gymkhana, West Pune",4.4,https://im1.dineout.co.in/images/uploads/resta...
21,Alto-Vino,"Italian, Continental","JW Marriott Hotel,Senapati Bapat Road, West Pune",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [120]:
df.to_excel("details from dineout.xlsx")

Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
    
i) Rank

ii) Publication

iii) h5-index

iv) h5-median

In [121]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [122]:
url_pub = "https://scholar.google.com/citations?view_op=top_venues&hl=en"

In [123]:
page = requests.get(url_pub)
#page

In [124]:
soup_pub = BeautifulSoup(page.content,"html.parser")
#print(soup.prettify())

In [125]:
ranking = soup_pub.find_all("td", class_="gsc_mvt_p")
ranking
ranks=[]
for rank in ranking:
    rank = rank.text
    ranks.append(rank)
#ranks

In [126]:
publications = soup_pub.find_all("td", class_="gsc_mvt_t")
publications
publication = []
for pub in publications:
    pub = pub.text
    publication.append(pub)
#publication

In [127]:
h5_index = soup_pub.find_all("a", class_="gs_ibl gsc_mp_anchor")
h5_index
h5 = []
for h in h5_index:
    h = h.text
    h5.append(h)
#h5

In [128]:
h5_median = soup_pub.find_all("span", class_="gs_ibl gsc_mp_anchor")
h5_median
median = []
for m in h5_median:
    m = m.text
    median.append(m)
#median

In [129]:
df = pd.DataFrame()
df["Rank"] = ranks
df["Publication"] = publication
df["h5-index"] = h5
df["h5-median"] = median
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

In [130]:
df.to_excel("top publications from Google Scholar.xlsx")